@font-face {
    font-family: Chicle;
    src:url("assets/fonts/Chicle/Chicle-Regular.ttf");
}

a {
    color: #000;
}

h1 {
    font-family: Chicle;
    font-size: 6em;
    margin: 0;
}

#container {
    margin: 2em 0 0 2em;
}

ul {
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px;
}

li > img {
    margin-right: 8px;
    height: 18px;
}